# Aliases
alias ls='ls -G' ##Mac OS X Only. TODO conditionalize
alias config="/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
alias mutt=~/.config/mutt/mymutt.sh
alias neomutt=~/.config/mutt/myneomutt.sh
alias dpsql="docker run --rm -it --network host postgres psql"
alias dcreatedb="docker run --rm -it --network host postgres createdb"
alias kcd='kubectl config set-context $(kubectl config current-context) --namespace '
